{% extends('base.html.twig') %}
{% block body %}

  {% for message in app.flashes('success') %}
      <div class="alert alert-success">
          {{ message }}
      </div>
  {% endfor %}

  <h2>Here the json dump</h2>

  <p>{{ dump(content) }}</p>

  <a class="btn btn-primary" role="button" href="{{ path('import_data') }}">Import</a>

{% endblock %}
