{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h2>List of all Orders</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Order Id</td>            
                <td>Phone</td> 
                <td>Payment Status</td>       
                <td>Shipping Status</td> 
                <td>Shipping Price</td> 
                <td>Shipping Payment Status</td> 
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>
                    <a href="{{ path('orders.show', {id: order.id}) }}">
                        {{ order.orderid }}
                    </a>
                </td>            
                <td>{{ order.phone }}</td>
                <td>{{ order.paymentstatus }}</td>
                <td>{{ order.shippingstatus }}</td>
                <td>{{ order.shippingprice }}</td>
                <td>{{ order.shippingpaymentstatus }}</td>
                <td>
                    <a class="text-danger" href="{{ path('orders.delete', {id: order.id}) }}">
                        Delete
                    </a>
                </td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
  
{% endblock %}
