{% extends 'base.html.twig' %}

{% block body %}
    <h2>Order ID: {{ orders.0.orderid }}</h2>
    <hr>
    <em>Phone: {{ orders.0.phone }}</em><br />
    <em>Payment Status: {{ orders.0.paymentstatus }}</em><br />
    <hr>
    <em>Shipping Status: {{ orders.0.shippingstatus }}</em><br />
    <em>Shipping Price: {{ orders.0.shippingprice }}</em><br />
    <em>Shipping Payment Status: {{ orders.0.shippingpaymentstatus }}</em><br />
    <hr>
    {% if items|length > 0 %}
    <h4>Order items:</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Item Id</td>            
                <td>Price</td> 
                <td>Cost</td> 
                <td>Tax Perc</td> 
                <td>Tax Amt</td> 
                <td>Quantity</td>       
                <td>Tracking Nr</td>
                <td>Canceled</td>       
                <td>SKU</td>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.itemsid }}</td> 
                <td>{{ item.price }}</td>
                <td>{{ item.cost }}</td>
                <td>{{ item.taxperc }}</td>
                <td>{{ item.taxamt }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.trackingnumber }}</td>
                <td>{{ item.canceled }}</td>
                <td>{{ item.shippedstatussku }}</td>
            </tr>
        {% endfor %}
    </ul>
    {% endif %}
    
{% endblock %}
